<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://localhost:50996/api/Fetch/wccca" class="btn btn-primary btn-lg" target="_blank">WCCCA &raquo;</a></p>
    <p><a href="http://localhost:50996/api/Fetch/ccom" class="btn btn-primary btn-lg" target="_blank">CCOM&raquo;</a></p>
</div>
